body {
    background-color: rgb(255, 187, 0);
}
.btn {
  padding: 10px 30px;       /* Espaçamento interno */
  border-radius: 25px;      /* Deixa o botão oval */
  border-width: 2px;        /* Espessura da borda */
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
}

btn-outline-inicio {
  color: black;
  border: 2px solid rgb(255, 187, 0);
}

btn-outline-inicio:hover {
  background-color: rgb(255, 187, 0);
  color: white;
}
.container {
  display: flex;
  align-items: center; /* Alinha verticalmente a imagem e o texto */
  gap: 20px; /* Espaço entre imagem e texto */
}

.img-icon {
  width: 400px; /* Tamanho da imagem */
  height: 300px;
  object-fit: cover; /* Ajusta a imagem para caber no tamanho */
}
.duas-colunas {
  column-count: 2;        /* Divide em 2 colunas */
  column-gap: 30px;       /* Espaço entre as colunas */
}
.p1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-right: 500px;
}

 
  #myCarousel .carousel-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;  /* Controla a proporção 16:9 */
    object-fit: cover;     /* Faz a imagem cobrir o espaço sem distorcer */
  }

  #myCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  #myCarousel .carousel-inner {
    width: 100%;
    max-width: 500px;  /* Tamanho máximo do carrossel */
  }

  #myCarousel .carousel-item img {
    width: 100%;
    height: auto;
  }

  footer {
  background-color: rgb(255, 187, 0);       /* Cor de fundo */
  color: #fff;                  /* Cor do texto */
  text-align: center;           /* Centraliza o texto */
  padding: 20px;                /* Espaçamento interno */
  font-size: 14px;              /* Tamanho da fonte */
  position: relative;           /* Pode ser usado para fixar no final */
  bottom: 0;
  width: 100%;
  }